.apps {
  border-radius: 12px;
  margin: 0 auto;
  padding: 0 auto;
  border: 10px solid rgb(68, 17, 53);
  width: 1000px;
 background: radial-gradient(orange, gold);
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 780px;
  margin: 0 auto;
  padding: 0 auto;
}
